@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.quoteMsg {
  &:hover{
    .quoteAuthor {
      opacity: 1;
    }
  }
  .quoteAuthor {
    opacity: 0;
    transition: all .3s linear
  }
}

.card{
  width: 20%;
  height: 250px;
  margin: 30px auto;
}
.scrollable{
  overflow-y: auto;
  max-height: 200px;
}

.card_weather{
  width: 40%;
  height: 250px;
  margin: 30px auto;
}